* {
    margin: 0;
    padding: 0;
}

html,body {
    font-family: sans-serif;
}

header {
    position: absolute;
    z-index: 1;
    width: 100%;
    min-width: 275px;
    text-align: center;
    color: white;
}

#header-title {
    font-size: 3.5em;
    display: block;
    margin-top: 120px;
    opacity: .9;
}

#header-description {
    font-size: 1.5em;
    display: block;
    margin-top: 16px;
    letter-spacing: 1px;
    opacity: .9;
}

.topnav {
    overflow: hidden;
    list-style-type: none;
    background-color: #333;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
}

.topnav li {
    float: right;
}

.topnav li a,.dropbtn {
    display: block;
    min-width: 68px;
    padding: 14px 14px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.topnav li a:hover:not(#topnav-logo-link) {
    background-color: #111;
}

.topnav .left {
    float: left;
}

.topnav .topnav-logo a {
    padding: 4px 0 0 16px;
}

.topnav .topnav-logo img {
    max-height: 32px;
}

.dropdown {
    display: block;
}

.dropdown-content {
    position: absolute;
    z-index: 1000000;
    display: none;
    background-color: #333;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.2);
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 400px) {
    .topnav .right, .topnav li {
	    float: none;
	}

	 .dropdown:hover .dropdown-content {
	    width: 100%;
	}
}

@media screen and (max-width: 520px) {
    .topnav .topnav-logo {
	    display: none;
	}
}

#slideshow {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 400px;
    margin: auto;
    box-shadow: 0 0 20px rgba(0,0,0,.4);
}

#slideshow > div {
    position: absolute;
    width: 100%;
    height: 100%;
}

#slideshow img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-container {
    background-color: #906a3f;
}

.image-container img {
    opacity: .5;
}

.button-viewmore {
    font-size: 16px;
    display: inline-block;
    margin-top: 32px;
    padding: 8px 32px;
    cursor: pointer;
    transition-duration: .4s;
    text-align: center;
    text-decoration: none;
    opacity: .9;
    color: white;
    border: 2px solid white;
    background-color: transparent;
}

.button-viewmore:hover {
    color: white;
    background-color: #333;
}

.content {
    width: 100%;
    text-align: center;
}

.content-title {
    line-height: 40px;
    width: 100px;
    min-width: 150px;
    height: 0;
    margin-top: 24px;
    padding-left: 12px;
    letter-spacing: 2px;
    color: white;
    border-right: 40px solid transparent;
    border-bottom: 40px solid #333;
}

.content-body {
    line-height: 2em;
    width: 80%;
    margin: 32px auto;
    letter-spacing: 2px;
    word-wrap: break-word;
    color: #333;
}

#image-box {
    margin: 48px auto;
    text-align: center;
}

.image-circle {
    display: inline-block;
    max-width: 150px;
    max-height: 150px;
    margin: 0 24px auto;
    border: solid #333;
    border-radius: 50%;
}

footer {
    line-height: 30px;
    width: 100%;
    height: 60px;
    padding: 8px 0 8px 0;
    text-align: center;
    color: white;
    background-color: #333;
}

#social-link a {
    font-size: 1.2em;
    margin: 0 8px;
    text-decoration: none;
    color: white;
}

#copyright {
    font-size: .8em;
    opacity: .8;
}

.contact-us h2{
    margin-bottom: 10px;
}

.contact-us div i {
    width: 25px;
    opacity: .8;
}

.error-message ul li{
    color: red;
    list-style-type: none;
}